@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
    @apply bg-color-secondary px-5 py-3 rounded-md capitalize font-bold hover:opacity-80 ease-in;
}

.title {
    @apply font-bold text-3xl md:text-4xl leading-snug;
}

.card-btn {
    @apply w-full bg-color-primary-dark px-9 py-3 rounded-md capitalize font-bold hover:bg-color-secondary opacity-80 ease-in duration-200;
}

.card{
    perspective: 1000px;
}

.front {
    backface-visibility: hidden;
    transition: all 0.4s ease;
}

.front{
    overflow: hidden;
}


.checkbox-wrapper-64 input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .checkbox-wrapper-64 *,
  .checkbox-wrapper-64 ::after,
  .checkbox-wrapper-64 ::before {
    box-sizing: border-box;
  }

  /* The switch - the box around the slider */
  .checkbox-wrapper-64 .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }

  /* Hide default HTML checkbox */
  .checkbox-wrapper-64 .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .checkbox-wrapper-64 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
  }

  .checkbox-wrapper-64 .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #adb5bd;
    transition: .4s;
  }

  .checkbox-wrapper-64 input:checked + .slider {
    background-color: #ff7920;
    border: 1px solid #ff7920;
  }

  .checkbox-wrapper-64 input:focus + .slider {
    box-shadow: 0 0 1px #ff7920;
  }

  .checkbox-wrapper-64 input:checked + .slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
  }